* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 5000px;
}

nav {
  background-color: #fff;
  align-items: center;
  padding: 0px 0%;
  display: flex;
  position: relative;
}
nav .navigation-container {
  width: 100%;
  max-width: 1060px;
  padding: 28px 0%;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  z-index: 55;
  background-color: white;
}
nav .navigation-container .nav-left {
  text-align: left;
}
nav .navigation-container .nav-left .name {
  color: #0d0e10;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}
nav .navigation-container .nav-right {
  text-align: right;
}
nav .navigation-container .nav-right .about-link {
  color: #0d0e10;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}
nav .navigation-container .nav-right .menu-button {
  display: none;
}
nav .mobile-menu {
  display: none;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #fff;
  border-bottom: 1px solid #f4f6fb;
  position: absolute;
  z-index: 1;
  top: -176px;
  left: 0;
  overflow: hidden;
}
nav .mobile-menu a {
  padding: 32px 0px 32px 45px;
  color: #0d0e10;
  display: block;
  letter-spacing: 0.5px;
  padding-right: 0;
  font-size: 14px;
  font-weight: 500;
}
nav .mystyle {
  top: 100%;
}

header {
  padding: 100px 4%;
}
header .header-area {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
header .header-area .hello-text {
  max-width: 900px;
  color: #0d0e10;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 48px;
  font-size: 68px;
  line-height: 1.05;
}
header .header-area .paragraph-info {
  color: #0d0e10;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 48px;
}
header .header-area .paragraph-info a {
  color: #0d0e10;
  font-weight: 700;
  text-decoration: underline;
}
header .header-area .resume-button {
  max-width: 200px;
  color: #fff;
  letter-spacing: 0.03em;
  background-color: #0d0e10;
  background-clip: border-box;
  border-radius: 50px;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

#project {
  padding: 0px 4%;
}
#project .project-container {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
#project .project-container .project-div {
  height: 624px;
  margin-bottom: 40px;
  transition: transform 0.2s;
}
#project .project-container .project-div:hover {
  transform: scale(1.05);
}
#project .project-container .project-div .img-test {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
  color: white;
}
#project .project-container .project-div .img-test .project-title {
  font-size: 16px;
  font-weight: 500;
}
#project .project-container .project-div .img-test .project-text {
  margin-top: 6px;
  font-weight: 300;
}

#contact {
  padding: 0px 4%;
}
#contact .contact-area {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 12px;
}
#contact .contact-area .contact-box {
  background: linear-gradient(90deg, rgb(241, 241, 241) 0%, rgb(230, 236, 234) 35%, rgb(243, 229, 200) 100%);
  border-radius: 20px;
  padding: 40px;
}
#contact .contact-area .contact-box h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.03em;
}
#contact .contact-area .contact-box p {
  margin: 1rem 0px;
  font-size: 18px;
}
#contact .contact-area .contact-box a {
  color: #000;
}
#contact .contact-area .contact-box .contact-me {
  margin-top: 100px;
  display: flex;
}
#contact .contact-area .contact-box .contact-me .c-button {
  color: #fff;
  background-color: #0d0e10;
  border-radius: 50px;
  padding: 13px 47px;
  max-height: 50PX;
}
#contact .contact-area .contact-box .contact-me .c-button:hover {
  background: #353434;
}
#contact .contact-area .contact-box .contact-me ul {
  display: flex;
}
#contact .contact-area .contact-box .contact-me ul li {
  background: #f5f7f7;
  margin: 0px 10px 0px 0px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
#contact .contact-area .contact-box .contact-me ul li:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
#contact .contact-area .contact-box .contact-me ul li:hover a i {
  color: #fff;
}
#contact .contact-area .contact-box .contact-me ul li a i {
  font-size: 25px;
}

#projectPage {
  padding: 0px 4%;
  margin-top: 200px;
}
#projectPage .projectPage-container {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
#projectPage .projectPage-container .project-box h1 {
  font-size: 86px;
  line-height: 130%;
}
#projectPage .projectPage-container .project-box .project-title {
  font-size: 22px;
  line-height: 167%;
  margin: 36px 0px 80px 0px;
}
#projectPage .projectPage-container .project-box .work-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 160px;
}
#projectPage .projectPage-container .project-box .work-image-block-hero {
  width: 100%;
}
#projectPage .projectPage-container .project-box .work-image-block-hero img {
  max-width: 100%;
}
#projectPage .projectPage-container .project-bottom h1 {
  font-size: 40px;
  line-height: 130%;
  margin-top: 50px;
}
#projectPage .projectPage-container .project-bottom .project-title {
  font-size: 22px;
  line-height: 167%;
  margin: 36px 0px 80px 0px;
}
#projectPage .projectPage-container .project-bottom .work-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 160px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav .navigation-container {
    padding: 28px 4%;
  }
  nav .navigation-container .nav-right .about-link {
    display: none;
  }
  nav .navigation-container .nav-right .menu-button {
    display: block;
  }
  nav .navigation-container .nav-right .menu-button i {
    font-size: 22px;
  }
  nav .mobile-menu {
    display: block;
  }
  #contact .contact-area .contact-box .contact-me {
    display: block;
    margin-top: 50px;
  }
  #contact .contact-area .contact-box .contact-me .c-button {
    display: block;
    text-align: center;
  }
  #contact .contact-area .contact-box .contact-me ul {
    padding: 0px;
    margin-top: 40px;
    justify-content: space-between;
  }
  #contact .contact-area .contact-box .contact-me ul li {
    margin: 0;
  }
  #projectPage {
    margin-top: 80px;
  }
  #projectPage .projectPage-container .project-box h1 {
    font-size: 40px;
  }
  #projectPage .projectPage-container .project-box .project-title {
    margin: 36px 0px 60px 0px;
  }
  #projectPage .projectPage-container .project-box .work-info {
    display: block;
    font-size: 16px;
    margin-bottom: 36px;
  }
  #projectPage .projectPage-container .project-box .work-info .info-box {
    margin-bottom: 24px;
  }
  #projectPage .projectPage-container .project-bottom h1 {
    font-size: 40px;
  }
  #projectPage .projectPage-container .project-bottom .project-title {
    margin: 36px 0px 60px 0px;
  }
  #projectPage .projectPage-container .project-bottom .work-info {
    display: block;
    font-size: 16px;
    margin-bottom: 60px;
  }
  #projectPage .projectPage-container .project-bottom .work-info .info-box {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */