* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face { 
    font-family: 'Gilroy-Regular'; 
    src: url('/font/Gilroy-Regular.woff2')  format('woff2');
    font-weight: normal; 
    font-style: normal; 
} 

body {
    height: 5000px;
    font-family: 'Gilroy-Regular';
}

// .nopadding {
//     padding: 0 !important;
//     margin: 0 !important;
//  }



nav {
    // min-height: 128px;
    background-color: #fff;
    align-items: center;
    padding: 0px 0%;
    display: flex;
    position: relative;

    .navigation-container {
        width: 100%;
        max-width: 1060px;
        padding: 28px 0%;
        justify-content: space-between;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        // position: relative;
        z-index: 55;
        background-color: white;

        .nav-left {
            text-align: left;

            .name {
                color: #0d0e10;
                font-weight: 500;
                font-size: 18px;
                outline: none;
            }
        }

        .nav-right {
            text-align: right;

            .about-link {
                color: #0d0e10;
                letter-spacing: .5px;
                font-size: 14px;
                font-weight: 500;
                transition: all .3s;
            }

            .menu-button {
                display: none;
            }


        }


    }

    .mobile-menu {
        display: none;
        width: 100%;
        transition: all 0.5s ease;
        background-color: #fff;
        border-bottom: 1px solid #f4f6fb;
        position: absolute;
        z-index: 1;
        top: -176px;
        left: 0;
        overflow: hidden;

        a {
            padding: 32px 0px 32px 45px;
            color: #0d0e10;
            display: block;
            letter-spacing: .5px;
            padding-right: 0;
            font-size: 14px;
            font-weight: 500;

        }
    }

    .mystyle {
        top: 100%;

    }
}

header {
    padding: 100px 4%;

    .header-area {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;

        .hello-text {
            max-width: 900px;
            color: #0d0e10;
            text-align: left;
            align-self: flex-start;
            margin-bottom: 48px;
            font-size: 68px;
            line-height: 1.05;
        }

        .paragraph-info {
            color: #0d0e10;
            text-align: left;
            align-self: flex-start;
            margin-bottom: 48px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 48px;

            a {
                color: #0d0e10;
                font-weight: 700;
                text-decoration: underline;
            }
        }

        .resume-button {
            max-width: 200px;
            color: #fff;
            letter-spacing: .03em;
            background-color: #0d0e10;
            background-clip: border-box;
            border-radius: 50px;
            padding: 16px 40px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}


#project {
    padding: 0px 4%;

    .project-container {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;

        .project-div {
            height: 624px;
            margin-bottom: 40px;
            transition: transform .2s;

            &:hover {
                transform: scale(1.05);
            }

            .img-test {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background-size: cover;
                padding-top: 40px;
                padding-left: 40px;
                color: white;

                .project-title {
                    font-size: 16px;
                    font-weight: 500;
                }

                .project-text {
                    margin-top: 6px;
                    font-weight: 300;
                }
            }
        }

    }
}

#contact {
    padding: 0px 4%;

    .contact-area {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 12px;

        .contact-box {
            background: linear-gradient(90deg, rgba(241, 241, 241, 1) 0%, rgba(230, 236, 234, 1) 35%, rgba(243, 229, 200, 1) 100%);
            border-radius: 20px;
            padding: 40px;

            h2 {
                font-weight: 600;
                font-size: 40px;
                line-height: 47px;
                letter-spacing: -0.03em;
            }

            p {
                margin: 1rem 0px;
                font-size: 18px;
            }

            a {
                color: #000;
            }

            .contact-me {
                margin-top: 100px;
                display: flex;

                .c-button {
                    color: #fff;
                    background-color: #0d0e10;
                    border-radius: 50px;
                    padding: 13px 47px;
                    max-height: 50PX;

                    &:hover {
                        background: #353434;
                    }
                }

                ul {
                    display: flex;

                    li {
                        background: #f5f7f7;
                        margin: 0px 10px 0px 0px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        transition: 0.3s;

                        &:hover {
                            a {
                                i {
                                    color: #fff;
                                }
                            }
                        }

                        a {
                            i {
                                font-size: 25px;
                            }
                        }
                    }
                    .insta{
                        &:hover {
                            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                        }
                    }
                    .linkedin{
                        &:hover {
                            background: #0a66c2;
                        }
                    }
                    .medium{
                        &:hover {
                            background: #000;
                        }
                    }

                    
                }

            }
        }
    }

}

#projectPage {
    padding: 0px 4%;
    margin-top: 200px;

    .projectPage-container {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;

        .project-box {
            h1 {
                font-size: 86px;
                line-height: 130%;
            }

            .project-title {
                font-size: 22px;
                line-height: 167%;
                margin: 36px 0px 80px 0px;
                font-family: 'Gilroy-Thin';

            }

            .work-info {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                margin-bottom: 160px;
            }
           
            .project-text-area{
                .work-image-block-hero{
                    width: 100%;
                    margin-bottom: 20px;
                    img{
                        max-width: 100%;
                    }
                }
                .text-title{
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .text-body{
                    padding: 3px 0px 15px 0px;
                    ul{
                        list-style: disc;
                        li{
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }
        .project-bottom{
            h1 {
                font-size: 40px;
                line-height: 130%;
                margin-top: 50px;
            }

            .project-title {
                font-size: 22px;
                line-height: 167%;
                margin: 36px 0px 80px 0px;
            }

            .work-info {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                margin-bottom: 160px;
            }
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    nav {
        .navigation-container {
            padding: 28px 4%;


            .nav-right {
                .about-link {
                    display: none;
                }

                .menu-button {
                    display: block;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }

        .mobile-menu {
            display: block;
        }
    }

    #contact {

        .contact-area {

            .contact-box {

                .contact-me {
                    display: block;
                    margin-top: 50px;

                    .c-button {
                        display: block;
                        text-align: center;
                    }

                    ul {
                        padding: 0px;
                        margin-top: 40px;
                        justify-content: space-between;

                        li {
                            margin: 0;
                        }

                    }

                }
            }
        }

    }

    #projectPage {
        margin-top: 80px;
    
        .projectPage-container {
    
            .project-box {
                h1 {
                    font-size: 40px;
                }
    
                .project-title {
                    margin: 36px 0px 60px 0px;
                }
    
                .work-info {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 36px;
                    .info-box{
                        margin-bottom: 24px;
                    }
                }
               
            }
            .project-bottom{
                h1 {
                    font-size: 40px;
                }
    
                .project-title {
                    margin: 36px 0px 60px 0px;
                }
    
                .work-info {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 60px;
                    .info-box{
                        margin-bottom: 24px;
                    }
                    .test{
                        color: red;
                    }
                }
            }
        }
    }
}